@model ICollection<RepositoryDemo.Web.Models.Games.GameViewModel>

@{
    ViewBag.Title = "Games";
    Layout = "_Layout";
}

<h2>Games</h2>
<ul>  
@foreach (var m in Model)
{
    <li>@m.Name</li>
}
</ul>
